<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimerClockApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimerClockApp.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplayOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WarningTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ControlTopmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayTopmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTimerMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoSwitchInterval" serializeAs="String">
                <value>10</value>
            </setting>
        </TimerClockApp.Properties.Settings>
    </userSettings>
</configuration>